*{
    margin: 0;
    padding: 0;
}
header{
    max-width: 1024px;
    margin:  0 auto;
}
.search-bar{
    margin-left: 50px;
}
.menu>li{
    margin: 0 15px;
}
.carousel-item>img{
    height: 500px;
}